body{
    margin: 0;
    padding: 0;
}
main{
    background-image: url(Images/backgroundbus.jpeg);
    height: 600px;
}
#logo1{
    font-size: 30px;
    color: red;
}
#logo2{
    font-size: 25px;
    color: white;  
    font-weight: 100;
}
header{
    padding: 20px 0 5% 30px ;
}
main a{
    text-decoration: none;
}
#booking{
    background-color: rgba(0,0,0,0.5);
    height: 300px;
    width: 100%;
    padding: 5% 0 2% 0;
    color: white;
}
#h1{
    color:red;
    font-weight: 900;
    font-size: 80px;
}
#book1{
    font-size: 38px;
    font-weight: 900;
}
#bk{
    height: 250px;
    width: 100%;
}
#book{
    color: red;
    font-weight: 700;
    font-size: 25px;
}
footer{
    background-color: black;
    height: 50px;
    width: 100%;
}
#home{
    margin: 15px 0 0 3%;
    font-size: 15px;
}
#home a{
    color: white;
    text-decoration: none;
}
#icons{
    padding: 15px 0 0 45%;
}
#icon{
    margin: 0 50px 0 0;
    color: white;
}
#footer-content div{
    display: inline-block;
}
#home a:hover{
    color: red;
}
#icon:hover{
    color: red;   
}
#contact{
    margin: 15px 0 0 15%;
    font-size: 15px;
}
#contact a{
    color: white;
    text-decoration: none;
}
#contact a:hover{
    color: red;
}