@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    box-sizing: border-box;
}
.container {
	background-color: rgba(255, 255, 255);
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    padding:1px 1px;
}
body {
	background-image: url(../../Downloads/background-bus.jpeg);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}
header img{
    width: 52px;
    border-radius: 5px;
    position: relative;
    left:2px;
    top: 10px;
}
header span{
    color: grey;
    display:inline;
    font-size: 25px;
}
h6{
    color: grey;
    position: relative;
    right:70px;
    padding: 0;
    margin: 0;
}
.ab{
    position: relative;
    right: 0px;
    left: 38px;
}
footer{
    display: flex;
    justify-content:right;    
}
main{
    text-align: center;
}
main span{
    position: relative;
    right:95px;
}
input{
    width: 45vh;
}
footer{
    text-decoration: none;
    color:rgb(0, 0, 0);   
}
button{
    background-color:rgb(250, 13, 13);
    width:35vh;
    border:1px solid black;
    border-radius: 3px;
    color: whitesmoke;
    height: 30px;
    margin: 25px;
}
button:hover{
    color: black;
    font-size:17px;
}
button:active {
	transform: scale(0.95);
}
main img{
    position: relative;
    top:8px;
}